@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --title: #101214;
  --color-text: #292A2E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
