@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --title: #101214;
  --color-text: #292A2E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para el carousel de iconos en móvil */
.hero-carousel {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.hero-carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
